@model IEnumerable<scm.Models.EntOrderStatus>


<div class="panel panel-default">
    <h4 class="itemheader">Request/Order Status</h4>
    <table class="table table-striped">

            <tr>
                <th>
                    Product
                </th>
                <th>
                </th>
                <th>
                    Requested
                </th>
                <th>
                    Purchased
                </th>
                <th>
                    Received
                </th>
            </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uom)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.prQty)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.poQty)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.rcQty)
                </td>
            </tr>
        }

    </table>
</div>

<br /><br />
