@model scm.Models.scStorage

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>scStorage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.scStoreTypeId, "scStoreTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("scStoreTypeId", null, htmlAttributes: new { @class = "form-control", @id = "StoreTypeid-dropdown" })
                @Html.ValidationMessageFor(model => model.scStoreTypeId, "", new { @class = "text-danger" })
            </div>

            @*added by joy*@
            <div class="col-md-offset-4">
                <a href="#" class="btn btn-info" onclick="SelectStoreType()" style="align-content:flex-end">Supplier list</a>
            </div>
            @* end add *@
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@* added by joy
    modal form
*@
<div class="modal fade" id="SupplierModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dissmiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    @foreach (var myscStoreTypes in ViewBag.scStoreTypes)
                    {
                        <p>
                            <button class="btn btn-info" onclick="getSelectedStoreType()" style="width:100%;" id="@myscStoreTypes.Type" value="@myscStoreTypes.Type">  @myscStoreTypes.Type </button>
                        </p>
                    }
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @* added by joy - for modal *@
    <script>
        //show the modal form
        function SelectStoreType() {
            $("#form")[0].reset();
            $("#ModalTitle").html("Select Storage Type");
            $("#SupplierModal").modal();
        }

        //get and set the selected item to the dropdown list
        function getSelectedStoreType() {
            $("button").click(function () {

                var supplierList = document.getElementById("StoreTypeid-dropdown");
                for (var i = 0; i < supplierList.options.length; i++) {
                    if (supplierList.options[i].text == this.id.toString()) {
                        //alert(i + 1);
                        document.getElementById("StoreTypeid-dropdown").value = i + 1; //set the index of dropdown by selected item
                    }
                }
                //alert(document.getElementById("supplierid-textbox").options[1].text);
                $('#SupplierModal').modal('hide');
            });
        }

    </script>
}
