@model scm.Models.scInvOutDtl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>scInvOutDtl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scInvOutHdr.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scInvOutHdr.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scItem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scItem.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scStoreBin.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scStoreBin.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resOrderDtl.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resOrderDtl.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
