@model scm.Models.scItemSupplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>scItemSupplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Leadtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leadtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scItem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scItem.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scSupplier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scSupplier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scUom.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scUom.Unit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
