@model IEnumerable<scm.Models.resOrderDtl>

@{
    ViewBag.Title = "Index";
}

<h2>Sales Order</h2>
Details

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resOrderHdr.dtDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resMenu.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resItem.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resOrderHdr.dtDelivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resMenu.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resItem.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditItem", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteItem", new { id=item.Id })
        </td>
    </tr>
}

    <tr>
        <td colspan="6">
            @Html.ActionLink("Add Item", "CreateItem")
        </td>
    </tr>

</table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

