@model IEnumerable<scm.Models.scCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-default">
    <table class="table table-listing">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="itemName">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<p>
    @Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("Items", "ItemInventory", "scItems") |
    Categories |
    @Html.ActionLink("Storage list", "Index", "scStorages") |
    @Html.ActionLink("Unit of Measure", "Index", "scUoms")
</p>
