@model IEnumerable<scm.Models.scSupplier>

@{
    ViewBag.Title = "Suppliers";
}
<h2>Suppliers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-default">
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>
                List
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    <span class="textName" >
                        @Html.DisplayFor(modelItem => item.Name)
                    </span>
                    <span class="textRemarks">
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </span>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Items", "SupplierItem", new { SupplierId = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Home", "Index", "Home") |
    Suppliers |
    @Html.ActionLink("Orders", "Index", "scPoForm") | 
    @Html.ActionLink("Items", "SupplierByItem", "scSuppliers")
</p>
