@model IEnumerable<scm.Models.scItem>

@{
    ViewBag.Title = "SupplierByItem";
    string sSupplier = "";
}

<h2>Supplier Items</h2>
<div class="panel panel-default">
    <table class="table table-striped">
        <tr>
            <th>
                Product
            </th>
            <th>
                Suppliers
            </th>
            <th>
                Unit
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            sSupplier = "";
            <tr>
                <td  class="itemName">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @foreach (var supp in item.scItemSuppliers)
                    {
                        if (sSupplier.Trim() != "")
                        {
                            sSupplier += supp.scSupplier.Name;
                            <span>&#44;</span>
                        }

                        <span>
                            @Html.ActionLink(supp.scSupplier.Name, "Edit", new { Id = supp.scSupplierId })
                        </span>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.scUom.Unit)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Home", "Index", "Home") |
    @Html.ActionLink("Suppliers", "Index", "scSuppliers") |
    @Html.ActionLink("Orders", "Index", "scPoForm") |
    Items
</p>
