@model scm.Models.scStoreBin

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>scStoreBin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scStorage.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scStorage.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scItem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scItem.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
