@model IEnumerable<scm.Models.EntStorageBin>

@{
    ViewBag.Title = "StoreBin";
}

<h2>StoreBin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-default">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expirydate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="itemName">
                    @Html.DisplayFor(modelItem => item.Store)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BinCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expirydate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>
    <p>
        @Html.ActionLink("Home", "Index", "Home") |
        @Html.ActionLink("Items", "ItemInventory", "scItems") |
        Storage Bins |
        @Html.ActionLink("Request", "Index", "scPrForm") |
        @Html.ActionLink("Receiving", "Index", "scRcvForm")
    </p>
