@model scm.Models.scRcvDtl

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>scRcvDtl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scRcvHdr.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scRcvHdr.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scItem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scItem.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scStoreBin.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scStoreBin.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scPoDtl.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scPoDtl.Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Details")
        </div>
    }
</div>
