@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventory Management</h1>
    <p class="lead">Inventory is a web application for inventory management</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Supplier</h2>
        <p>
            Manage your Suppliers, Lead time, Purchase Orders
        </p>
        <p>
            @Html.ActionLink("Suppliers", "Supplier", null, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Orders", "PurchaseOrder", null, new { @class = "btn btn-default" }) 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Store</h2>
        <p>
            Manage your Items, Inventory Count and Storage Locations, Receiving Report, Stock In/Out 
        </p>
        <p>
            @Html.ActionLink("Stock Count", "StockCount", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Storage Bins", "StorageBin", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Request", "PurchaseRequest", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Receiving", "InventoryReceive", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Release", "InventoryOut", null, new { @class = "btn btn-default" })
            @Html.ActionLink("Repack", "InventoryRepack", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <!-- hide for the meantime
    <div class="col-md-4">
        <h2>Production</h2>
        <p>List of productions and preparations</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sales Orders</h2>
        <p>on going...</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
        -->
    <div class="col-md-4">
        <h2>Masterfiles</h2>
        <p>on going...</p>
        <p>@Html.ActionLink("Main", "MasterFiles", "", new { @class="btn btn-default"}) </p>

    </div>

</div>