@model scm.Models.scPrDtl

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>scPrDtl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scPrHdr.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scPrHdr.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scItem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scItem.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scUom.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scUom.Unit)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeleteItem" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
