@model IEnumerable<scm.Models.scPrHdr>

@{
    ViewBag.Title = "Index";
}

<h2>Purchase Requests</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-default">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dtPr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dtPr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
    @{Html.RenderPartial("PartialView_LowLevelItems", (List<scm.Models.EntItems>)ViewBag.LowLevelItems);}

    <p>
        @Html.ActionLink("Home", "Index", "Home") |
        @Html.ActionLink("Items", "ItemInventory", "scItems") |
        @Html.ActionLink("Storage Bins", "StoreBin", "scStoreBins") |
        Request |
        @Html.ActionLink("Receiving", "Index", "scRcvForm")
    </p>

